<div class="container">
  <div class="row">
    <div class="col-md-12">
      <form class="form-horizontal row-border" name="orderForm" ng-submit="vm.save(orderForm)" accessible-form novalidate>
        <!-- Customer -->
        <fieldset id="orderForm-customer">
          <legend>
            {{ vm.formOptions.customer.add ? 'Create' : 'Select'}} Customer
            &nbsp;<input type="checkbox" ng-model="vm.formOptions.customer.add" ng-show="vm.formOptions.customer.add">
          </legend>
          <div class="form-group" ng-hide="vm.formOptions.customer.add">
            <label class="col-md-3 control-label">Customer</label>
            <div class="col-md-9">
                <ui-select class="form-control" name="customer"
                  ng-required="!vm.formOptions.customer.add"
                  ng-model="vm.model._customer" 
                  theme="select2"
                  reset-search-input="true">
                  <ui-select-match placeholder="Select or search a customer...">
                    {{$select.selected.name}}
                  </ui-select-match>
                  <ui-select-choices repeat="customer in vm.customers| filter: $select.search"
                    refresh="vm.selectCustomers($select.search)" refresh-delay="0">
                    <div ng-bind-html="customer.name | highlight: $select.search"></div>
                    <small>{{customer.email}}</small>
                  </ui-select-choices>
                </ui-select>
            </div>
            <div class="col-md-9 col-md-push-3" ng-if="!vm.model._id">
              <div class="checkbox text-muted">
                <label>
                  <input type="checkbox" ng-model="vm.formOptions.customer.add">
                  Create customer ?
                </label>
              </div>
            </div>
            <div class="col-md-9 col-md-push-3" ng-if="vm.isInteracted(orderForm.customer)" ng-messages="orderForm.customer.$error">
              <div ng-messages-include="components/_ng-messages.html"></div>
            </div>
          </div>
          <div class="slide-down" ng-show="vm.formOptions.customer.add">
            <div class="col-md-12 slide-left">
              <!-- <h3>Customer Information</h3> -->
              <div class="form-group" ng-class="vm.getFormClass(orderForm.name)">
                <label class="col-md-3 control-label">Name</label>
                <div class="col-md-9">
                    <input type="text" name="name" class="form-control" 
                      ng-model="vm.model._customer.name">
                </div>
                <div class="col-md-9 col-md-push-3" ng-if="isInteracted(orderForm.name)" ng-messages="orderForm.name.$error" ng-messages-include="components/_ng-messages.html"></div>
              </div>
              <div class="form-group" ng-class="vm.getFormClass(orderForm.email)">
                <label class="col-md-3 control-label">Email</label>
                <div class="col-md-9">
                    <input type="email" name="email" class="form-control" 
                      ng-model="vm.model._customer.email"
                      ng-model-options="{ updateOn:'blur' }" 
                      record-availability-validator="/api/customers/validator"
                      ng-required="vm.formOptions.customer.add">
                </div>
                <div class="col-md-9 col-md-push-3" ng-if="vm.isInteracted(orderForm.email)" ng-messages="orderForm.email.$error">
                  <div ng-messages-include="components/_ng-messages.html"></div>
                  <p class="help-block" ng-message="recordAvailabilityValidator">This email is already taken</p>
                </div>
              </div>
              <div class="form-group" ng-class="vm.getFormClass(orderForm.phone)">
                <label class="col-md-3 control-label">Phone</label>
                <div class="col-md-9">
                    <input type="text" name="phone" class="form-control" 
                      ng-model="vm.model._customer.phone"
                      ng-required="vm.formOptions.customer.add">
                </div>
                <div class="col-md-9 col-md-push-3" ng-if="vm.isInteracted(orderForm.phone)" ng-messages="orderForm.phone.$error">
                  <div ng-messages-include="components/_ng-messages.html"></div>
                </div>
              </div>
              <div class="form-group" ng-class="vm.getFormClass(orderForm.address)">
                <label class="col-md-3 control-label">Address</label>
                <div class="col-md-9">
                    <textarea name="address" class="form-control" 
                      ng-model="vm.model._customer.address"
                      ng-required="vm.formOptions.customer.add"></textarea>
                </div>
                <div class="col-md-9 col-md-push-3" ng-if="vm.isInteracted(orderForm.address)" ng-messages="orderForm.address.$error">
                  <div ng-messages-include="components/_ng-messages.html"></div>
                </div>
              </div>
              <div class="form-group" ng-class="vm.getFormClass(orderForm.city)">
                <label class="col-md-3 control-label">City</label>
                <div class="col-md-9">
                    <input type="text" name="city" class="form-control" 
                      ng-model="vm.model._customer.city"
                      ng-required="vm.formOptions.customer.add">
                </div>
                <div class="col-md-9 col-md-push-3" ng-if="vm.isInteracted(orderForm.city)" ng-messages="orderForm.city.$error">
                  <div ng-messages-include="components/_ng-messages.html"></div>
                </div>
              </div>
              <div class="form-group" ng-class="vm.getFormClass(orderForm.postal_code)">
                <label class="col-md-3 control-label">Postal Code</label>
                <div class="col-md-9">
                    <input type="text" name="postal_code" class="form-control" 
                      ng-model="vm.model._customer.postal_code"
                      ng-pattern="/\d+$/"
                      ng-required="vm.formOptions.customer.add">
                </div>
                <div class="col-md-9 col-md-push-3" ng-if="vm.isInteracted(orderForm.postal_code)" ng-messages="orderForm.postal_code.$error">
                  <div ng-messages-include="components/_ng-messages.html"></div>
                </div>
              </div>
            </div>
            <!-- /billing -->
          </div>
          <!-- /Create customer -->
        </fieldset>
        <!-- /Customer -->

        <!-- Order items -->
        <fieldset id="orderForm-items" ng-class="{'has-error': orderForm.items.$invalid}">
          <legend>Order Items</legend>
          <div class="form-group">
            <label class="col-md-3 control-label">Products</label>
            <div class="col-md-9">
              <input type="hidden" name="items" ng-model="vm.model._items" />
              <table class="table table-striped table-responsive">
                <thead>
                  <tr>
                    <th>Product name</th>
                    <th>Qty</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="item in vm.model._items">
                    <td>
                      <input type="text" ng-model="item._product.name" class="form-control" readonly>
                    </td>
                    <td>
                      <input type="number" ng-model="item.qty" class="form-control" readonly>
                    </td>
                    <td>
                      <button class="btn btn-default btn-danger" type="button" ng-click="vm.removeField($index)">
                        <i class="fa fa-minus"></i>
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <ui-select class="form-control"
                        ng-model="vm.selectedField._product" 
                        theme="select2"
                        reset-search-input="true">
                        <ui-select-match placeholder="Select or search a product...">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="product in vm.products | filter: $select.search"
                          refresh="vm.selectProducts($select.search)" refresh-delay="0">
                          <div class="media">
                            <!-- <div class="media-left">
                              <a href="#">
                                <img class="media-object" width="64" height="64" ng-src="{{product.image}}" alt="...">
                              </a>
                            </div> -->
                            <div class="media-body">
                              <div ng-bind-html="product.name | highlight: $select.search"></div>
                              <small>
                                <span>sku  : {{product.sku}}</span><br/>
                                <span>price: {{product.price | currency: 'Rp '}}</span><br/>
                                <span>stock: {{product.stock}}</span>
                              </small>
                            </div>
                          </div>
                        </ui-select-choices>
                      </ui-select>
                      <span ng-show="vm.isAddingField && vm.fieldKeyError" class="text-danger">Product is required</span>
                    </td>
                    <td>
                      <input type="number" name="selectedFieldValue" class="form-control" 
                        ng-model="vm.selectedField.qty" ng-disabled="!vm.selectedField._product">
                      <span ng-show="vm.isAddingField && vm.fieldValueError" class="text-danger">Qty is required / maximum {{vm.selectedField.max}} </span>
                    </td>
                    <td>
                      <button class="btn btn-default" type="button" ng-click="vm.addField(form)">
                        <i class="fa fa-plus"></i>
                      </button>
                    </td>
                </tbody>
              </table>
            </div>
            <div class="col-md-9 col-md-push-3" ng-if="vm.isInteracted(orderForm.items)" ng-messages="orderForm.items.$error">
              <div ng-messages-include="components/_ng-messages.html"></div>
              <p class="help-block" ng-message="required">Order items not empty</p>
            </div>
          </div>
        </fieldset>
        <!-- /Order items -->
        <div class="form-group">
          <div class="col-md-offset-3 col-md-9">
            <button type="submit" class="btn btn-primary btn-lg" ng-disabled="vm.loading">
                <span ng-if="vm.loading">
                  <i class="fa fa-circle-o-notch fa-spin"></i> Saving..
                </span>
                <span ng-if="!vm.loading">Save</span>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
